.fifteen-puzzle-container>.box {
  margin: 0px;
}

.fifteen-puzzle-container:focus {
  outline: 2px solid #22673c;
  box-shadow: 0 8px 17px 2px rgb(0 0 0 / 14%), 0 3px 14px 2px rgb(0 0 0 / 12%), 0 5px 5px -3px rgb(0 0 0 / 20%);
}

.fifteen-puzzle-box {
  border-right-width: 1px;
}

.tile {
  left: 0px;
  position: absolute;
  top: 0px;
  width: var(--box-width);
  height: var(--box-width);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: left 0.3s, top 0.3s;

  background-color: rgb(117 204 150);
  border: 1px solid rgb(84 147 108);
}

.tile.active {
  background-color: #8d9f30;
  border: 2px solid #4b5516;
}

.tile>small {
  color: #fff;
}

.state-identifier.active {
  color: #026177;
}