.App {
  font-family: sans-serif;
  text-align: center;
  min-height: 100vh;
  align-items: center;
}

.box {
  display: inline-block;
  width: var(--box-width);
  height: var(--box-width);
  border: 1px solid #ccc;
  border-radius: 1px;
  position: relative;
  vertical-align: top;
  border-right-width: 0px;
}

.box:last-child {
  border-right-width: 1px;
}

.box>small {
  position: absolute;
  width: 100%;
  left: 0px;
  top: var(--box-width);
}

.feedback {
  width: 400px;
  margin: auto;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 15px;
}

.control-label {
  width: 100%;
  padding-left: 5px;
  text-align: left;
  margin-bottom: 5px;
}

.state-identifier {
  position: absolute;
  top: 8px;
  right: 100%;
  margin-right: 10px;
  color: #cddede;
  font-weight: bold;
  white-space: nowrap;
}

.w-200 {
  width: 200px;
}